
.input-wrapper {
    width: 100%;
}


.listFile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.listFile:hover {
    background-color: #465059;
    color: azure;
    transition: 0.1s ease;
    cursor: pointer;

}

.removeFile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
    transition: 0.1s ease;
    cursor: pointer;
    color: #465059;
    background-color: azure;
    opacity: 0;
}

.listFile:hover .removeFile, .listFile.active .removeFile {
    opacity: 1;
}

.listFile.active {
    background-color: #465059;
    color: azure;
}


.selected {
    display: inline-block;
    color: azure;
    background-color: #465059;
    border-radius: 3px;
    transition: 0.1s ease;
    cursor: pointer;
    word-break: break-word;
}

.not-translated {
    background-color: #6c5c55;
    color: blanchedalmond;
}

.translated {
    background-color: blanchedalmond;
    color: #55616c;
}


.tag {
    color: beige;
}

.div-tag {
    color: #eaa422;
}

.header-logo {
    width: auto;
    height: 30px;
    padding: 12px;
}

.className {
    color: #00b7b7;
}

.selected:hover {
    color: azure;
    background-color: #55616c;
}

.rawHtml > div {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #30373d;
}

.htmlNumbers .number {
    width: 36px;
    color: #465059;
    flex-shrink: 0;
    user-select: none;
    display: none;
}

.progress-wrapper {
    height: 18px;
    border-radius: 4px;
    margin: 8px;
    width: 100%;
    position: relative;
    background-color: #30373d;
}

.progress {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    background-color: #5b8353;
}